<nav *ngIf="!authService.isAuthenticated()" class="nav nav-pills public_nav">
  <div class="public_nav_elements">
  <a routerLink="" class="nav-item nav-link active">Home</a>
  <a routerLink="/page/about" class="nav-item nav-link">About us</a>
  <a routerLink="/page/catalog" class="nav-item nav-link">Catalog</a>
  </div>
  <div class="public_nav_elements">
  <a routerLink="/login" class="nav-item nav-link">Login</a>
  <a class="nav-item nav-link" routerLink="/register">Register</a>      
  </div>
</nav>

<nav *ngIf="authService.isAuthenticated()" class="nav nav-pills public_nav">
  <div class="public_nav_elements">
  <a routerLink="/page/auth/profile" class="nav-item nav-link active">My profile</a>
  <a routerLink="/page/auth/search" class="nav-item nav-link">Search</a>
  <a routerLink="/page/auth/catalog" class="nav-item nav-link">Catalog</a>
  <a routerLink="/element/create" class="nav-item nav-link">Create</a>
  </div>
  <div class="public_nav_elements">
  <a routerLink="" (click)="authService.logout()" class="nav-item nav-link">Logout</a>      
  </div>
</nav>



