<!-- <nav class="nav nav-pills public_nav">
  <div class="public_nav_elements">
  <a routerLink="" class="nav-item nav-link active">Home</a>
  <a routerLink="/search" class="nav-item nav-link">Search</a>
  </div>
  <div class="public_nav_elements">
  <a routerLink="/login" class="nav-item nav-link">Login</a>
  <a class="nav-item nav-link" routerLink="/register">Register</a>      
  </div>
</nav> -->

<nav class="nav nav-pills public_nav">
  <div class="public_nav_elements">
  <a routerLink="/profile" class="nav-item nav-link active">My profile</a>
  <a routerLink="/catalog" class="nav-item nav-link">Catalog</a>
  <a routerLink="/create" class="nav-item nav-link">Create</a>
  </div>
  <div class="public_nav_elements">
  <a routerLink="/logout" class="nav-item nav-link">Logout</a>      
  </div>
</nav>



