<div class="home">
  <h1 class="home-title">Your Dream Prom</h1>
  <article class="home-img"><img src="/assets/fireworks-gcecb50189_1920.jpg" alt=""></article>
</div>
<div class="about">
  <h3>Welcome To Dream Prom</h3>
  <div>
      <p>Dream Prom is a Professional catalog Platform. 
  Here we will provide you
   only interesting content, 
   which you will like very 
   much. We're dedicated to 
   providing you the best of 
   catalog, with a focus on 
   dependability and offers. 
   We're working to turn our 
   passion for catalog into a 
   booming. We hope you enjoy our
   catalog as much as we enjoy offering them to you.</p>
  </div>
  <div class="offers">
    <section class="show-our-offers">
      <h1>Show our offers</h1>
      <button routerLink="shoudLogin" class="btn btn-primary btn-lg">Offers</button>
    </section>
    </div>
</div> 