@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
/* font-family: 'Hurricane', cursive; */

.home-title{
  text-align: center;
  font-family: 'Hurricane', cursive;
  font-size: 80px;
}
.home-img{
  width: 80vw;
  margin: 0 auto;
}
.home-img img{
  width: 100%;
  border-radius: 8px;
}
.offers{
  margin: 30px 0;
}
.show-our-offers h1{
  text-align: center;
  font-family: 'Hurricane', cursive;
  font-size: 60px;
}
.show-our-offers button{
  margin: 0 auto;
  text-align: center;
  display: flex;
}
.about{
  padding-top: 40px;
  text-align: center;
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 60px;
}
.about h3{
  font-family: 'Hurricane', cursive;
  font-size: 40px;
}