h2{
  font-size: 38px;
}
h4{
  font-size: 28px;
}
p{
  font-style: oblique;
}
.content{
  box-shadow: 1px 1px 12px 0px white;
  border-radius: 8px;
}
.img_style{
  border-radius: 8px;
  margin-left: 10px;
}