<div>
  <h1>My Information</h1>
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="https://mvp.microsoft.com/en-us/PublicProfile/Photo/6987" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Hello, {{email}}!</p>
    </div>
  </div>
  <div>
  <h1 class="offers_title">My Offers</h1>
  <div class="catalog_grid">
    <div *ngFor="let offer of offers">
      <div *ngIf="offer.userId == uid">
        <app-offer [parentData]="offer"></app-offer>
      </div>
    </div>

  </div>
</div>
</div>


