<div>
  <h1>My Information</h1>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div>
  <h1 class="offers_title">My Offers</h1>
  <div class="catalog_grid">
    <div *ngFor="let offer of offers">
      <div *ngIf="offer.userId == uid">
        <app-offer [parentData]="offer"></app-offer>
      </div>
    </div>

  </div>
</div>
</div>


