<div *ngIf="serverData">
<section *ngIf="uid == localUid" id="create-page" class="auth">
  <form *ngIf="form" [formGroup]="form" id="create" (ngSubmit)="save()">
    <div class="container">

        <h1>Edit Offerd</h1>
        <label for="title">Hotel</label>
        <input type="text" id="title" name="title" placeholder="Enter hotel title..." formControlName="title">
        <div *ngIf="form.controls.title.touched && form.controls.title.errors?.required" class="alert alert-danger">
          This input field is requied!
        </div>

        <label for="price">Price:</label>
        <input type="text" id="price"  name="price" min="1" placeholder="$1" formControlName="price">
        <div *ngIf="form.controls.price.touched && form.controls.price.errors?.required" class="alert alert-danger">
          This input field is requied!
        </div>
        <div *ngIf="form.controls.price.touched && form.controls.price.errors?.pattern" class="alert alert-danger">
          This price field should be positive number;
        </div>

        <label for="stars">Stars:</label>
        <input type="text" id="stars"  name="stars" min="1" placeholder="**" formControlName="stars">
        <div *ngIf="form.controls.stars.touched && form.controls.stars.errors?.required" class="alert alert-danger">
          This input field is requied!
        </div>

        <label for="img">Image:</label>
        <input appImgValidation type="text" id="imageUrl" name="imageUrl" placeholder="Upload a photo..." formControlName="img">
        <div *ngIf="form.controls.img.touched && form.controls.img.errors?.required" class="alert alert-danger">
          This input field is requied!
        </div> 
        <div *ngIf="form.controls.img?.touched && form.controls.img.errors?.pattern" class="alert alert-danger">
          Image shoud be on format jpg, jpeg, png, gif, bmp!
        </div> 

        <label for="description">Description:</label>
        <textarea name="description" id="description" formControlName="description"></textarea>
        <div *ngIf="form.controls.description.touched && form.controls.description.errors?.required" class="alert alert-danger">
          This input field is requied!
        </div>
        <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
</section>

<section *ngIf="uid != localUid">
  <div class="custom-alert" role="alert">
    👮🏻‍♀️ You do not have permision!👮🏻‍♂️
</div>
</section>

</div>