<div>
  <h1>What are you looking for ?</h1>
<div class="input-group">
  <input type="search" name="search" [(ngModel)]="dataInput" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" (click)="searcher()" class="btn btn-outline-primary">search</button>
</div>
<h2>Results :</h2>
<div *ngIf="offers" class="results">
  <div *ngFor="let offer of offers">
      <div *ngIf="offer['title'].includes(dataInput) && dataInput!=''">
        <app-offer [parentData]="offer"></app-offer>
      </div>
  </div>
</div>
<div *ngIf="offers && dataInput!=''">
  <div class="alert alert-info" role="alert">
    No have data in db!
  </div>
</div>
</div>
